body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(24,39,73);
    text-align: center;
    color:white;
}
header{
    display: flex;
    /* justify-content: center; */
    background-color: rgb(180,43,54);
    color: #fff;
    text-align: center;
    padding: 5px;
    /* margin-bottom: 50px; */
}
header h1{
    color: #fff;
    align-self: center;
    
}
.left, .right{
    flex: 1;
}
.center{
    flex:4;
}
#center_buttons_div{
    display: flex;
    justify-content: center;
}
#center_buttons_div a{
    margin:auto;
    border-style: none;
    padding: 10px 8%;
    text-decoration: none;
    color:white;
    border-radius: 1rem;
    transition: .20s;
}
#center_buttons_div a:hover{
    background-color: rgb(215, 115, 115);
}
#center_buttons_div a:active{
    background-color: rgb(197, 103, 103);
}
#log_out_div{
    padding-top: 50px;
}
#log_out_div a{
    /* margin-top: 50px; */
    text-decoration: none;
    color:white;
}
#log_out_div a:hover{
    color:lightgrey
}